extends layout

block content
  h1= title
  div
    img(src= right alt="right qrcode placeholder" height="200px" width="200px")
  div
    img(src= wrong alt="wrong qrcode placeholder" height="200px" width="200px")
  div
    img(src= today alt="today qrcode placeholder" height="200px" width="200px")
